%head
  %title
    = title_tag
  = tag(:meta, :name => 'description', :content => strip_tags(meta_description)) unless @hide_meta_description
  %meta{ :name => "keywords", :content => meta_tags }
  %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
  %link{ :href => "/favicon.ico", :rel => "shortcut icon" }
  = yield :first_stylesheets
  = yield :stylesheets
  = yield :last_stylesheets
  - if @content_for_stylesheets_ie6.present?
  /
    [if lte IE 6]>
    <haml:loud> yield :stylesheets_ie6 </haml:loud>
    <![endif]
  - end
  - if @content_for_stylesheets_ie7.present?
  /
    [if gte IE 7]>
    <haml:loud> yield :stylesheets_ie7 </haml:loud>
    <![endif]
  - end
  = yield :javascript_includes_first
  = yield :javascript_includes
  = yield :javascript_includes_last
  = yield :head
