<% title "User" %>

<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Key:</strong>
  <%=h @user.key %>
</p>
<p>
  <strong>Roles Mask:</strong>
  <%=h @user.roles_mask %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
