- page_title "User"

.top_nav
  = link_to 'All Users', users_path

= standard_flash_box

%div.basic_info_box.event.inliney{:style => 'width: 400px'}
  %h3= h @user.email
  .lower
    .inline_stats
      = pluralize(@user.event_experiences.count, 'experience')
    .actions
      = link_to 'experiences', user_experiences_path(@user)

%ul.stupid_nav
  %li= link_to "Edit", edit_user_path(@user)
  %li= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete