- page_title "Edit Event"

.top_nav
  = link_to 'All Events', events_path

= standard_flash_box

- semantic_form_for @event, :html => { :class => 'square event_form', :id => 'edit_event' } do |form|
  %h3 Edit Event
  .lower
    = render :partial => 'form', :locals => { :form => form }

= render :partial => 'shared/tag_field_helper'

.bottom_nav
  %p
    = link_to "Show", event_path(@event)