- page_title "Event"

.top_nav
  = link_to 'All Events', events_path

= standard_flash_box

%div.event_view{:style => 'width: 800px'}
  %h3= h @event.name
  .lower
    %ul.properties_list
      - @event.properties.each do |property|
        %li= property
    %ul.options
      - @event.options.each do |option|
        %li.option
          .text
            = option.text
          .result
            = option.result


%ul.stupid_nav
  %li= link_to "Edit", edit_event_path(@event)
  %li= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete