- page_title "User"

= standard_flash_box

- content_for :left_sidebar do
  .head
    Time
  .body
    %ul.weeks
      - (1..7).each do |i|
        %li= link_to "Week #{i}", events_path
      %hr
      - (1..7).each do |i|
        %li= link_to "Week #{i}", events_path

- page_title! "Launch Pad"

%div.experiences_main{:style => 'width: 860px'}
  %h3 Stuff that's happened
  %ul
    - @user.event_experiences.each do |exp|
      %li.event_row
        .top
          .name
            = exp.event.name
          .traits
            = properties_list_sentence(exp)
        .details
          .choices
            You chose to...
          .results
            As a result&hellip;