- content_for :layout_content do
  %div.container
    .top
      .title_box
        = link_to image_tag('logos/first_logo.png'), root_path
      .welcome_box
        = top_line
    .outer_box
      - if @content_for_left_sidebar.present?
        %div.left_sidebar
          = yield :left_sidebar
      %div.main{:class => @content_for_left_sidebar.present? ? '' : 'no_sidebar' }
        = yield(:simple_content) || yield
        = render :partial => 'shared/javascript'

= render :file => 'layouts/master'